* { 
    padding: 0; 
    margin: 0;
}

body { 
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center; 
    align-items: center;

    background-color:#3a86ff;
}

main { 
    width: 800px; 
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 7px 9px 3px 0px rgba(0,0,0,0.34);
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.34);
    background-color: white;
}